node_modules/
dist/
build/
deploy-artifacts/
logs/
data/
database/mysql/production-*.sql
.user.ini
.turbo/
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.production.example
coverage/
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
